{% if let Some(current_user) = current_user %}
<div class="container">
  <div class="box ">
    <div class="buttons">
      {% for detail in dashboard.detail %}
      <button class="button filter-stage-button is-normal is-{{detail.stage}}"
        stage="{{detail.stage}}">{{detail.stage}}({{detail.quantity}})</button>
      {% endfor %}
      <button class="button action-button is-info" onclick="checkAll()">Check All</button>
      <button class="button action-button is-info" onclick="waterAll()">Water All</button>
    </div>
  </div>

  <div class="grid is-gap-1.5 is-row-gap-1.5 is-col-min-6">
    {% for card in dashboard.cards %}
    <div class="cell position-cell is-normal" stage="{{card.2.stage}}" pos-id="{{card.0.id}}" style="max-width: 300px;"
      onclick="window.location.href='/show/position?id={{card.1.position_id}}'">
      <div class="box is-{{card.2.stage}}" style="aspect-ratio: 1;">
        <img src="/camera/image?id={{card.1.image_id}}">
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endif %}
