{% extends "dashboard.html" %}
{% block side_pane %}
<div class="side-pane">

  {% include "side-pane-tab.html" %}

  <div class="side-pane-content">
    <table class="table side-pane-table is-fullwidth is-active">
      <thead>
        <tr>
          <th> ID </th>
          <th> x </th>
          <th> y </th>
          {% if context.user.is_admin %}
          <th> Action </th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for pos in positions %}
        <tr>
          <td> {{pos.id}} </td>
          <td> {{pos.x}} </td>
          <td> {{pos.y}} </td>
          {% if context.user.is_admin %}
          <td>
            <form action="/delete/position" method="post">
              <input name="id" value="{{pos.id}}" type="hidden">
              <button class="button is-small is-danger" type="submit">Remove</button>
            </form>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
        {% if context.user.is_admin %}
        <tr>
          <form action="/create/position" method="post">
            <td>New Position</td>
            <td><input class="input is-small" type="number" placeholder="x" required name="x"></td>
            <td><input class="input is-small" type="number" placeholder="y" required name="y"></td>
            <td><button class="button is-small" type="submit">Add</button></td>
          </form>
        </tr>
        {% endif %}
        {% if context.user.is_admin %}
        <tr>
          <form action="/goto" method="get">
            <td>Goto Position</td>
            <td><input class="input is-small" type="number" placeholder="x" required name="x"></td>
            <td><input class="input is-small" type="number" placeholder="y" required name="y"></td>
            <td><button class="button is-small" type="submit">Run</button></td>
          </form>
        </tr>
        <tr>
          <td colspan="4">
            {% if let Some(img) = image %}
            <img class="camera-image" src="data:image/png;base64,{{img}}">
            {% endif %}
            </div>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
