.pot-container {
    width: 70%;
    scrollbar-width: none; 
    background: #ededed;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: 0.5s;
}

.side-pane {
    position: fixed;
    width: 0%;
    height: 100%;
    overflow: scroll;
    right: 0px;
    transition: 0.5s;
}

.switcher {
    top: 1%;
    right : 1%;
    position: fixed;
    display: block;
    transition: 0.5s;
}

.switcher-arrow {
    display: block;
    transition: 0.5s;
}

body.show-detail > .pot-container {
    width: 70%;
}

body.show-detail > .side-pane {
    width: 30%;
}

body.show-detail > .switcher {
    right: 31%;
}

body.show-detail > .switcher > .switcher-arrow {
    transform: rotateZ(180deg);
}

.pot-card {
    position: absolute;
    padding: 0;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    transition: 0.3s
}

.pot-card:hover,
.pot-card.is-active {
    opacity: 1;
    border: solid;
}

.pot-card.is-young {
    background-color: white;
    background-image: url("young.png");
}
.pot-card.is-ready{
    background-color: #57ffae;
    background-image: url("ready.png");
}
.pot-card.is-old {
    background-color: #fcba03;
    background-image: url("old.png");
}
.pot-card.is-unknown {
    background-color: grey;
    background-image: url("unknown.png");
}
.pot-card > .pot-card-overlay {
    width: inherit;
    height: inherit;
}

.side-pane-table{
    display: none;
}

.side-pane-table.is-active {
    display: block;
}

.side-pane-tab.is-pot {
    display: none;
}

.side-pane-tab.is-pot.is-active {
    display: block;
}

.camera {
    position: absolute;
    cursor: pointer;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("camera.png");
}
